name: Deploy Documentation Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Doxygen and Graphviz
        run: sudo apt-get install doxygen graphviz -y


      - name: Generate Doxygen HTML
        run: doxygen Doxyfile


      - name: Deploy Doxygen Output to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html
          publish_branch: gh-pages
          enable_jekyll: false